/* RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* VARS */
:root {
  /* color definitions */
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(0, 0%, 87%);
  --clr-neutral-300: hsl(0, 0%, 57%);
  --clr-neutral-400: hsl(0, 0%, 27%);
  --clr-neutral-800: hsl(0, 0%, 17%);
  --clr-neutral-900: hsl(0, 0%, 12%);

  --clr-green-100: hsl(169, 11%, 93%);
  --clr-green-200: hsl(169, 51%, 58%);
  --clr-green-400: hsl(169, 86%, 28%);
  --clr-green-800: hsl(169, 86%, 12%);
  --clr-green-900: hsl(169, 80%, 12%);

  --clr-robust: hsl(221, 63%, 32%);
  --clr-green: hsl(110, 63%, 32%);
  --clr-flower: hsl(2, 92%, 33%);
  --clr-colorful: hsl(303, 55%, 47%);
  --clr-sunloving: hsl(27, 88%, 33%);
  --clr-air: hsl(180, 84%, 27%);
  --clr-decorative: hsl(278, 79%, 40%);
  --clr-edible: hsl(68, 61%, 30%);
  --clr-easy: hsl(224, 86%, 58%);
  --clr-fragrant: hsl(327, 51%, 47%);
  --clr-fast: hsl(218, 11%, 34%);

  /* font weights definitions */
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;
  --fw-900: 900;

  /* Font sizes definitions */
  --fs-100: 0.625rem;
  --fs-200: 0.75rem;
  --fs-400: 1rem;
  --fs-500: 1.25rem;
  --fs-600: 1.5rem;
  --fs-700: 2rem;
  --fs-800: 2.5rem;
  --fs-900: 3rem;

  /*** Theme setup ***/

  /* font family */
  --font-base: "Open Sans", "Segoe UI", Tahoma, sans-serif;

  /* theme color assignments */
  --clr-accent: var(--clr-green-400);
  --clr-accent-light-1: var(--clr-green-100);

  --clr-primary-light-1: var(--clr-neutral-100);
  --clr-primary-light-2: var(--clr-neutral-200);
  --clr-primary-light-3: var(--clr-neutral-300);

  --clr-primary: var(--clr-neutral-400);
  --clr-primary-dark: var(--clr-neutral-800);

  /* Font weights assignments */
  --fw-regular: var(--fw-400);
  --fw-medium: var(--fw-500);
  --fw-semi-bold: var(--fw-600);
  --fw-bold: var(--fw-700);
  --fw-x-bold: var(--fw-900);

  /* Border shadow */
  --border-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

  /* Spacing */
  --spacing-base: 1rem;

  --flow-space: 1.75em;
  --flow-space-lg: 4em;
}

/*** Composition ***/
.flow > * + * {
  margin-block-start: var(--flow-space);
}

.flow-lg > * + * {
  margin-block-start: var(--flow-space-lg);
}

/*
See these for more info:
https://www.youtube.com/watch?v=c13gpBrnGEw
https://www.youtube.com/watch?v=cf-J4ffMBfo
*/
.content-grid,
.fullwidth {
  --_content-width: 70rem;
  --_min-margin-width: 1rem;

  display: grid;
  grid-template-columns:
    [fullwidth-start] minmax(var(--_min-margin-width), 1fr) [content-start] min(
      100% - var(--_min-margin-width) * 2,
      var(--_content-width)
    )
    [content-end] minmax(var(--_min-margin-width), 1fr) [fullwidth-end];
  /*  grid-template-rows: [fullwidth-start] auto [fullwidth-end];*/
}

/* keep the content of the content-grid and fullwidth inside the content container */
.content-grid > *,
.fullwidth > * {
  grid-column: content;
}

/* a bit more complex but more fancy/explicit version of above */
/*.content-grid > :not(.fullwidth),
.fullwidth > :not(.fullwidth) {
  grid-column: content;
}*/

/* if we have a fullwidth inside of a content-grid put this in the fullwidth container */
.content-grid > .fullwidth {
  grid-column: fullwidth;
}

body {
  font-family: var(--font-base);
  background-color: var(--clr-accent-light-1);
  color: var(--clr-primary-dark);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--clr-primary-light-1);
  padding-inline: 10em;
}

.navbar__logo {
  display: flex;
  gap: 0.5em;
  padding: 1em 0;
  text-align: left;
  color: var(--clr-accent);
  cursor: pointer;

  span {
    display: block;
  }
}

.navbar__links {
  display: flex;
  list-style: none;
  gap: 1.75em;

  li {
    display: block;
    text-align: center;
  }

  a {
    text-decoration: none;
    color: var(--clr-accent);

    &:hover,
    &:focus-visible {
      text-decoration: underline;
    }
  }
}

.navbar__burger {
  display: none;
}

.header {
  text-align: center;
}

.main {
  text-align: center;
}

.header__heading {
  font-size: var(--fs-700);
  font-weight: var(--fw-bold);
  text-wrap: balance;
  margin-block-start: var(--flow-space);
}

.header__text {
  font-size: var(--fs-400);
  text-wrap: pretty;
  max-width: 60ch;
  margin-inline: auto;
  margin-block-start: var(--flow-space);
}

.sub-heading {
  font-size: var(--fs-700);
  font-weight: var(--fw-bold);
  text-wrap: balance;
}

.main {
  margin-block-start: var(--flow-space);
}

.grid-banner {
  border: 1rem solid white;
  box-shadow: var(--border-shadow);
  display: inline-grid;
  grid-template-columns: repeat(3, 1fr);

  img {
    object-fit: cover;
    aspect-ratio: 5 / 4;
  }
}

.cta {
  background-color: var(--clr-primary-light-1);
  display: flex;
  flex-direction: rows;
  justify-content: center;
  align-items: center;
  gap: 6em;
  margin-block-start: var(--flow-space-lg);
  padding-block: var(--flow-space-lg);
}

.cta__content {
  max-width: 41ch;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.5em;
}

.cta__heading {
  font-size: var(--fs-700);
  font-weight: var(--fw-bold);
}

.cta__text {
  font-size: var(--fs-300);
  text-wrap: pretty;
}

.cta__submit {
  display: inline-block;
  border: 2px solid var(--clr-primary-light-3);
  border-radius: 36px;
  padding: 3px;
}

.cta__input {
  outline: none;
  border: none;
  background: transparent;
  padding-left: 32px;
}

.cta__input:focus {
  outline: none;
  border: none;
}

.cta__button {
  border-radius: 36px;
  padding: 10px 20px;
  color: var(--clr-primary-light-1);
  background-color: var(--clr-accent);
  border: none;
  cursor: pointer;
  margin-left: auto;
}

.cta__img-container {
  width: 250px;
  height: 250px;
  background-color: var(--clr-accent);
  border-radius: 50%;
}

.cta__img {
  width: 65%;
  height: 65%;
  margin-top: 15%;
}

.cards {
  margin-block-start: var(--flow-space-lg);
}

.cards-heading {
  font-size: var(--fs-700);
  font-weight: var(--fw-bold);
  text-wrap: balance;
}

.card-grid {
  margin-block-start: var(--flow-space);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
  gap: 1em;
}

.card {
  background-color: var(--clr-primary-light-1);
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 1em;
  box-shadow: var(--border-shadow);
}

.card__img {
  object-fit: cover;
}

.card__title {
  text-align: left;
  font-size: var(--fs-600);
  font-weight: var(--fw-semi-bold);
  padding-inline: 0.65em;
}

.card__description {
  padding-inline: 1em;
  text-align: left;
  min-height: 12ch;
  text-wrap: pretty;
}

.card__badges {
  text-align: left;
  padding-inline: 1em;

  a {
    background-color: var(--clr-green);
    color: var(--clr-primary-light-1);
    border-radius: 36px;
    text-decoration: none;
    padding: 0.4em 0.6em;
    font-weight: var(--fw-bold);
    font-size: var(--fs-100);
  }
}

.card__author {
  margin: 1em;
  display: flex;
  align-items: center;
  gap: 1em;
  margin-top: auto;
}

.card__author-text {
  display: flex;
  flex-direction: column;
  align-items: start;

  a {
    text-decoration: none;
    color: var(--clr-accent);
    font-weight: var(--fw-bold);

    &:hover,
    &:focus-visible {
      text-decoration: underline;
    }
  }

  time {
    color: black;
    font-size: var(--fs-200);
  }
}

.card__author-img {
  height: 50px;
  width: 50px;
  border-radius: var(--flow-space-lg);
  border: 2px solid var(--clr-neutral-900);
}

.footer {
  background-color: var(--clr-accent);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 8em;
  padding-block: var(--flow-space);
}

.footer__content {
  display: flex;
  flex-direction: column;
  gap: 1.7em;
}

.footer__heading {
  font-size: var(--fs-700);
  font-weight: var(--fw-bold);
  color: var(--clr-primary-light-1);
}

.footer__description {
  color: var(--clr-primary-light-1);
  max-width: 58ch;
  text-wrap: pretty;
}

.footer__address {
  display: flex;
  flex-direction: column;
  gap: 0.5em;

  a {
    text-decoration: none;
    color: var(--clr-primary-light-1);
    font-weight: var(--fw-bold);

    &:hover,
    &:focus-visible {
      text-decoration: underline;
    }
  }
}

.footer__links {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.8em;

  li {
    display: block;
  }

  a {
    text-decoration: none;
    color: var(--clr-primary-light-1);

    &:hover,
    &:focus-visible {
      text-decoration: underline;
    }
  }
}

@media (width <= 1000px) {
  .navbar {
    padding-inline: 2em;
  }

  .footer {
    padding-inline: 1em;
  }

  .grid-banner {
    grid-template-columns: repeat(2, 1fr);

    img {
      aspect-ratio: 1 / 1;
    }
  }
}

@media (width <= 768px) {
  .navbar {
    padding-inline: 2em;
  }

  .navbar__burger {
    display: block;
  }

  .cta--reverse {
    flex-direction: column-reverse;
  }

  .cta--no-reverse {
    flex-direction: column;
  }

  .navbar__links {
    display: none;
  }

  .footer__links {
    display: none;
  }

  .grid-banner {
    grid-template-columns: 1fr;

    img {
      aspect-ratio: 1 / 1;
    }
  }
}
